<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwinjectMVVMExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CED3640D1C62ADF4004B7CA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CED364211C62ADF4004B7CA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CED364351C62AE4E004B7CA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CED3643E1C62AE4E004B7CA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CED364581C62AE79004B7CA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CED364611C62AE79004B7CA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CED3647A1C62AE9F004B7CA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CED364831C62AE9F004B7CA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
